<small>23:05 [0x2013b41] (139,77,1)</small> || the power storage unit lost power and turned <font color='red'>off</font><br>
<small>23:05 [0x2016d55] (55,115,1)</small> || the power storage unit lost power and turned <font color='red'>off</font><br>
<small>23:05 [0x201be55] (174,170,1)</small> || the power storage unit lost power and turned <font color='red'>off</font><br>
<small>23:05 [0x201b870] (75,177,1)</small> || the power storage unit lost power and turned <font color='red'>off</font><br>
